<RequireAll>
Require all granted
Require not ip 45.134.253.0/24
Require not ip 46.8.14.0/23
Require not ip 95.182.124.0/24
Require not ip 45.142.253.0/24
Require not ip 45.84.177.0/24
Require not ip 77.83.148.0/24
Require not ip 45.86.0.0/23
Require not ip 46.8.11.0/24
Require not ip 45.81.136.0/24
Require not ip 46.8.212.0/23
Require not ip 109.248.205.0/24
Require not ip 193.58.169.0/24
Require not ip 2a0e:cd42::/32
Require not ip 188.130.210.0/24
Require not ip 109.248.167.0/24
Require not ip 45.145.116.0/22
Require not ip 46.8.154.0/24
Require not ip 194.156.97.0/24
Require not ip 45.87.252.0/23
Require not ip 95.182.126.0/23
Require not ip 46.8.56.0/23
Require not ip 2a0f:d004::/32
Require not ip 46.8.16.0/23
Require not ip 2a0e:cd44::/32
Require not ip 2a0f:d000::/29
Require not ip 109.248.129.0/24
Require not ip 45.89.16.0/22
Require not ip 45.140.54.0/23
Require not ip 194.34.248.0/24
Require not ip 45.139.176.0/23
Require not ip 45.134.180.0/22
Require not ip 45.139.176.0/24
Require not ip 45.89.16.0/23
Require not ip 2a0f:d000::/32
Require not ip 188.130.187.0/24
Require not ip 46.8.10.0/24
Require not ip 46.8.22.0/24
Require not ip 45.142.252.0/24
Require not ip 109.248.55.0/24
Require not ip 212.115.49.0/24
Require not ip 45.135.33.0/24
Require not ip 2a0f:d001::/32
Require not ip 188.130.136.0/23
Require not ip 188.130.143.0/24
Require not ip 45.140.52.0/22
Require not ip 188.130.128.0/23
Require not ip 46.8.155.0/24
Require not ip 95.182.126.0/24
Require not ip 45.139.177.0/24
Require not ip 46.8.23.0/24
Require not ip 45.145.116.0/23
Require not ip 45.147.193.0/24
Require not ip 109.248.13.0/24
Require not ip 109.248.166.0/24
Require not ip 45.11.20.0/24
Require not ip 188.130.219.0/24
Require not ip 188.130.186.0/24
Require not ip 2a0b:2d87:8000::/33
Require not ip 188.130.221.0/24
Require not ip 2a0e:8146::/32
Require not ip 194.32.237.0/24
Require not ip 109.248.54.0/23
Require not ip 109.248.54.0/24
Require not ip 46.8.222.0/23
Require not ip 109.248.166.0/23
Require not ip 188.130.189.0/24
Require not ip 109.248.12.0/23
Require not ip 109.248.138.0/24
Require not ip 2a06:d647::/32
Require not ip 2a0a:b387::/33
Require not ip 188.130.220.0/23
Require not ip 46.8.57.0/24
Require not ip 185.181.244.0/23
Require not ip 46.8.156.0/23
Require not ip 84.54.53.0/24
Require not ip 2a0f:d002::/32
Require not ip 109.248.15.0/24
Require not ip 109.248.14.0/24
Require not ip 45.87.253.0/24
Require not ip 2a0e:8147::/32
Require not ip 194.156.92.0/24
Require not ip 2.59.50.0/24
Require not ip 46.8.192.0/23
Require not ip 109.248.48.0/23
Require not ip 185.181.246.0/24
Require not ip 45.84.176.0/24
Require not ip 2a0e:cd43::/32
Require not ip 188.130.210.0/23
Require not ip 91.188.244.0/24
Require not ip 194.35.113.0/24
Require not ip 2a0e:8140::/29
Require not ip 109.248.128.0/24
Require not ip 92.119.193.0/24
Require not ip 45.11.21.0/24
Require not ip 188.130.188.0/23
Require not ip 2a0e:cd46::/32
Require not ip 2a0e:8140::/32
Require not ip 45.135.32.0/24
Require not ip 188.130.218.0/24
Require not ip 188.130.184.0/24
Require not ip 188.130.184.0/23
Require not ip 46.8.56.0/24
Require not ip 185.181.247.0/24
Require not ip 188.130.186.0/23
Require not ip 109.248.139.0/24
Require not ip 188.130.142.0/24
Require not ip 46.8.106.0/23
Require not ip 2a0a:5684::/32
Require not ip 188.130.188.0/24
Require not ip 2a0e:8142::/32
Require not ip 109.248.142.0/23
Require not ip 109.248.143.0/24
Require not ip 46.8.111.0/24
Require not ip 45.139.125.0/24
Require not ip 45.140.52.0/23
Require not ip 45.15.236.0/24
Require not ip 109.248.14.0/23
Require not ip 188.130.218.0/23
Require not ip 213.226.101.0/24
Require not ip 2a0f:d006::/32
Require not ip 46.8.17.0/24
Require not ip 188.130.137.0/24
Require not ip 46.8.213.0/24
Require not ip 45.134.252.0/24
Require not ip 77.83.148.0/23
Require not ip 45.135.32.0/23
Require not ip 95.182.124.0/23
Require not ip 31.40.203.0/24
Require not ip 46.8.222.0/24
Require not ip 45.147.192.0/23
Require not ip 77.94.1.0/24
Require not ip 193.53.168.0/24
Require not ip 46.8.188.0/24
Require not ip 45.86.1.0/24
Require not ip 2a0f:d007::/32
Require not ip 45.15.72.0/24
Require not ip 46.8.223.0/24
Require not ip 95.182.125.0/24
Require not ip 109.248.138.0/23
Require not ip 2a0e:cd45::/32
Require not ip 46.8.154.0/23
Require not ip 45.15.73.0/24
Require not ip 109.248.49.0/24
Require not ip 45.87.252.0/24
Require not ip 176.53.186.0/24
Require not ip 46.8.16.0/24
Require not ip 194.156.123.0/24
Require not ip 45.134.252.0/23
Require not ip 2a0b:2d87::/33
Require not ip 109.248.204.0/23
Require not ip 46.8.107.0/24
Require not ip 109.248.128.0/23
Require not ip 45.144.36.0/24
Require not ip 194.32.229.0/24
Require not ip 45.86.0.0/24
Require not ip 185.181.246.0/23
Require not ip 46.8.156.0/24
Require not ip 2a0e:8145::/32
Require not ip 185.181.245.0/24
Require not ip 188.130.220.0/24
Require not ip 188.130.185.0/24
Require not ip 2a0e:cd40::/32
Require not ip 109.248.12.0/24
Require not ip 45.15.236.0/23
Require not ip 46.8.157.0/24
Require not ip 2a07:ca07::/33
Require not ip 2a0a:5687::/32
Require not ip 2a0e:cd47::/32
Require not ip 194.156.96.0/23
Require not ip 2a0a:5680::/29
Require not ip 2a0a:b387::/32
Require not ip 185.181.244.0/24
Require not ip 2a06:d647::/33
Require not ip 2a06:d647:8000::/33
Require not ip 46.8.110.0/24
Require not ip 95.182.127.0/24
Require not ip 2a0e:cd40::/29
Require not ip 2a0a:b387:8000::/33
Require not ip 45.142.252.0/23
Require not ip 46.8.10.0/23
Require not ip 2a0a:5680::/32
Require not ip 188.130.128.0/24
Require not ip 109.248.204.0/24
Require not ip 45.151.145.0/24
Require not ip 77.83.84.0/24
Require not ip 45.84.176.0/23
Require not ip 193.58.168.0/23
Require not ip 45.145.118.0/23
Require not ip 46.8.106.0/24
Require not ip 46.8.212.0/24
Require not ip 109.248.142.0/24
Require not ip 188.130.142.0/23
Require not ip 46.8.14.0/24
Require not ip 188.130.136.0/24
Require not ip 46.8.192.0/24
Require not ip 109.248.48.0/24
Require not ip 45.11.20.0/23
Require not ip 2a07:ca07::/32
Require not ip 45.90.196.0/24
Require not ip 2a0a:5685::/32
Require not ip 2a0a:5686::/32
Require not ip 2a0e:8144::/32
Require not ip 2a0e:8143::/32
Require not ip 46.8.15.0/24
Require not ip 94.158.190.0/24
Require not ip 194.156.96.0/24
Require not ip 46.8.193.0/24
Require not ip 45.81.137.0/24
Require not ip 192.144.31.0/24
Require not ip 45.134.180.0/23
Require not ip 77.83.149.0/24
Require not ip 2a07:ca07:8000::/33
Require not ip 2a0f:d003::/32
Require not ip 46.8.22.0/23
Require not ip 45.15.72.0/23
Require not ip 5.183.130.0/24
Require not ip 188.130.129.0/24
Require not ip 45.147.192.0/24
Require not ip 45.15.237.0/24
Require not ip 188.130.211.0/24
Require not ip 45.81.136.0/23
Require not ip 2a0b:2d87::/32
Require not ip 2a0e:cd41::/32
Require not ip 193.58.168.0/24
Require not ip 2a0f:d005::/32
Require not ip 2a0e:8141::/32
Require not ip 45.134.182.0/23
</RequireAll>

Options -Indexes
ErrorDocument 404 /404.php

<IfModule mod_php5.c>
  php_flag session.use_trans_sid off
  #php_value display_errors 1
  #php_value mbstring.internal_encoding UTF-8
</IfModule>

<IfModule mod_rewrite.c>
  Options +FollowSymLinks
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !/bitrix/urlrewrite.php$
  RewriteRule ^(.*)$ /bitrix/urlrewrite.php [L]
  RewriteRule .* - [E=REMOTE_USER:%{HTTP:Authorization}]
  RewriteCond %{HTTP_HOST} sambomsk.beget.tech
  RewriteRule (.*) https://sambo.msk.ru/$1 [R=301,L]
  RewriteCond %{SERVER_PORT} !^443$
  RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

</IfModule>

<IfModule mod_dir.c>
  DirectoryIndex index.php index.html
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive on
    ExpiresDefault                                      "access plus 1 month"
    ExpiresByType text/css                              "access plus 1 year"
    ExpiresByType application/atom+xml                  "access plus 1 hour"
    ExpiresByType application/rdf+xml                   "access plus 1 hour"
    ExpiresByType application/rss+xml                   "access plus 1 hour"
    ExpiresByType application/json                      "access plus 0 seconds"
    ExpiresByType application/ld+json                   "access plus 0 seconds"
    ExpiresByType application/schema+json               "access plus 0 seconds"
    ExpiresByType application/vnd.geo+json              "access plus 0 seconds"
    ExpiresByType application/xml                       "access plus 0 seconds"
    ExpiresByType text/xml                              "access plus 0 seconds"
    ExpiresByType image/vnd.microsoft.icon              "access plus 1 week"
    ExpiresByType image/x-icon                          "access plus 1 week"
    ExpiresByType text/html                             "access plus 0 seconds"
    ExpiresByType application/javascript                "access plus 1 year"
    ExpiresByType application/x-javascript              "access plus 1 year"
    ExpiresByType text/javascript                       "access plus 1 year"
    ExpiresByType application/manifest+json             "access plus 1 week"
    ExpiresByType application/x-web-app-manifest+json   "access plus 0 seconds"
    ExpiresByType text/cache-manifest                   "access plus 0 seconds"
    ExpiresByType audio/ogg                             "access plus 1 month"
    ExpiresByType image/bmp                             "access plus 1 month"
    ExpiresByType image/gif                             "access plus 1 month"
    ExpiresByType image/jpeg                            "access plus 1 month"
    ExpiresByType image/png                             "access plus 1 month"
    ExpiresByType image/svg+xml                         "access plus 1 month"
    ExpiresByType image/webp                            "access plus 1 month"
    ExpiresByType video/mp4                             "access plus 1 month"
    ExpiresByType video/ogg                             "access plus 1 month"
    ExpiresByType video/webm                            "access plus 1 month"
    ExpiresByType application/vnd.ms-fontobject         "access plus 1 month"
    ExpiresByType font/eot                              "access plus 1 month"
    ExpiresByType font/opentype                         "access plus 1 month"
    ExpiresByType application/x-font-ttf                "access plus 1 month"
    ExpiresByType application/font-woff                 "access plus 1 month"
    ExpiresByType application/x-font-woff               "access plus 1 month"
    ExpiresByType font/woff                             "access plus 1 month"
    ExpiresByType application/font-woff2                 "access plus 1 month"
    ExpiresByType application/x-font-woff2               "access plus 1 month"
    ExpiresByType font/woff2                             "access plus 1 month"
    ExpiresByType application/font-woff2                "access plus 1 month"
    ExpiresByType text/x-cross-domain-policy            "access plus 1 week"
</IfModule>

<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE application/rss+xml
  AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
  AddOutputFilterByType DEFLATE application/x-font
  AddOutputFilterByType DEFLATE application/x-font-opentype
  AddOutputFilterByType DEFLATE application/x-font-otf
  AddOutputFilterByType DEFLATE application/x-font-truetype
  AddOutputFilterByType DEFLATE application/x-font-ttf
  AddOutputFilterByType DEFLATE application/x-javascript
  AddOutputFilterByType DEFLATE application/xhtml+xml
  AddOutputFilterByType DEFLATE application/xml
  AddOutputFilterByType DEFLATE font/opentype
  AddOutputFilterByType DEFLATE font/otf
  AddOutputFilterByType DEFLATE font/ttf
  AddOutputFilterByType DEFLATE font/woff
  AddOutputFilterByType DEFLATE font/woff2
  AddOutputFilterByType DEFLATE image/svg+xml
  AddOutputFilterByType DEFLATE image/svg
  AddOutputFilterByType DEFLATE image/x-icon
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE text/html
  AddOutputFilterByType DEFLATE text/javascript
  AddOutputFilterByType DEFLATE text/plain
  AddOutputFilterByType DEFLATE text/xml
  AddOutputFilterByType DEFLATE image/webp
  BrowserMatch ^Mozilla/4 gzip-only-text/html
  BrowserMatch ^Mozilla/4\.0[678] no-gzip
  BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
  Header append Vary User-Agent
</IfModule>