/*@font-face {*/
/*  font-family: 'Open Sans';*/
/*  src: url('fonts/OpenSans/OpenSans-Bold.eot');*/
/*  src: local('Open Sans Bold'), local('OpenSans-Bold'),*/
/*  url('fonts/OpenSans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),*/
/*  url('fonts/OpenSans/OpenSans-Bold.woff') format('woff'),*/
/*  url('fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');*/
/*  font-weight: bold;*/
/*  font-style: normal;*/
/*  font-display: swap;*/
/*}*/

/*@font-face {*/
/*  font-family: 'Open Sans';*/
/*  src: url('fonts/OpenSans/OpenSans-Regular.eot');*/
/*  src: local('Open Sans Regular'), local('OpenSans-Regular'),*/
/*  url('fonts/OpenSans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),*/
/*  url('fonts/OpenSans/OpenSans-Regular.woff') format('woff'),*/
/*  url('fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');*/
/*  font-weight: normal;*/
/*  font-style: normal;*/
/*  font-display: swap;*/
/*}*/

/*@font-face {*/
/*  font-family: 'Open Sans';*/
/*  src: url('fonts/OpenSans/OpenSans-ExtraBold.eot');*/
/*  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),*/
/*  url('fonts/OpenSans/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),*/
/*  url('fonts/OpenSans/OpenSans-ExtraBold.woff') format('woff'),*/
/*  url('fonts/OpenSans/OpenSans-ExtraBold.ttf') format('truetype');*/
/*  font-weight: 800;*/
/*  font-style: normal;*/
/*  font-display: swap;*/
/*}*/

body {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4;
  font-family: 'Open Sans', Arial, sans-serif;
  color: #555555;

  background: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

a {
  text-decoration: none;
  color: #0652DD;
  transition: all .25s ease-in-out;
}

a:hover {
  color: #0741ad;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 20px;
  margin-bottom: 40px;

  font-weight: 700;
  line-height: 1.2;
  color: #424242;
  letter-spacing: 0.025em;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.625rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

.mb-50 {
  margin-bottom: 50px;
}

h5,
.h5 {
  font-size: 1.375rem;
}

.btn {
  padding: 5px 20px;
  border-radius: 3px;
  /*font-size: 0.85rem;*/
}

.btn-danger {
  background-color: #ff3f34;
  border-color: #ff3f34;
}

.btn-danger:hover {
  background-color: #ff5e57;
  border-color: #ff5e57;
}

.btn-primary {
  background-color: #0652DD;
  border-color: #0652DD;
}

.btn-primary:hover {
  background-color: #0741ad;
  border-color: #0741ad;
}

.btn-light {
  color: #424242;
}

.page-header {
  padding: 30px 0;
  background-color: #f8f8f8;
  /*background: #f8f8f8 url("/local/templates/sambo_2022/img/main-logo-section.svg") 50% 50%;*/
  background-size: 15%;
  border-bottom: 1px solid #ececec;
}

.page-header__title {
  margin: 0;
  font-size: 2rem;
}

.breadcrumb {
  margin-bottom: 0;
  font-size: 0.85rem;
}

.breadcrumb-item+.breadcrumb-item::before {
  padding-right: 5px;
}

.breadcrumb-item+.breadcrumb-item {
  padding-left: 5px;
}

.breadcrumb-item.active {
  color: #6f6f6f;
}

.main-content {
  margin-bottom: 50px;
  margin-top: 50px;
}

.main-header {
  background-color: #ffffff;
  box-shadow: 0 1px 5px rgb(0 0 0 / 14%);
  border-bottom: 1px solid #eff1f5;
  z-index: 1000;
}

.logo {
  display: flex;
  text-decoration: none;
  align-items: center;
}

.logo:hover {
  text-decoration: none;
}

.logo__wrapper {
  margin-left: 15px;
}

.logo__name {
  display: block;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.075em;
  transition: all .25s ease-in-out;
}

.logo__description {
  display: block;
  letter-spacing: 0.05em;
  font-size: 0.75rem;
}

.header-logo {
  color: #424242;
}

.header-logo .logo__description {
  color: #6f6f6f;
}

.navbar-expand-xl {
  padding: 0;
}

.navbar-light .navbar-nav .nav-link {
  text-transform: uppercase;
  color: #424242;
  font-weight: 700;
  padding: 10px 15px;
  font-size: 0.85rem;
  letter-spacing: 0.05em;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #0652DD;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
  color: #0652DD;
}

.dropdown-menu {
  padding: 0;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  color: #555555;
  border: none;
  border-radius: 3px;
}

.dropdown-item {
  padding: 10px 20px;
  clear: both;
  font-weight: 400;
  color: #424242;
  border-top: 1px solid #ececec;
  font-size: 0.85rem;
  letter-spacing: 0.05em;
}

.dropdown-menu li:first-of-type .dropdown-item {
  border-top: none;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #424242;
  background-color: #ececec;
}

.dropdown-item.active, .dropdown-item:active {
  color: #424242;
  font-weight: 700;
  background-color: transparent;
}

.header-contacts {
  padding-right: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.header-contacts__phones {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header-contacts__phones-wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.header-contacts__main-phone {
  font-size: 1.25rem;
  font-weight: 700;
  color: #424242;
  margin-bottom: 5px;
}

.header-contacts__second-phone-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-contacts__second-phone {
  color: #6f6f6f;
}

.header-contacts__whatsapp {
  width: 30px;
  height: 30px;
  font-size: 1rem;
  border-radius: 3px;
  border: 1px solid #25d366;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #25d366;
  margin-left: 10px;
}

.header-contacts__whatsapp:hover {
  color: #ffffff;
  opacity: 0.85;
}

.header-contacts__communication-wrapper {
  display: none;
}

.main-footer {

}

.main-footer__content {
  padding: 50px 0;
  background-color: #3d3d3d;
  color: #ffffff;
}

.main-footer__menu-wrapper {
  display: flex;
}

.footer-menu {

}

.footer-menu__title {
  text-transform: uppercase;
  font-size: 1.125rem;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin-bottom: 15px;
  display: inline-block;
}

.footer-menu__title:hover {
  color: #c2c2c2;
  text-decoration: none;
}

.footer-menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-menu-halls {
  margin-right: 100px;
}

.footer-menu__list_columns-two {
  column-count: 2;
  column-gap: 50px;
}

.footer-menu__list_page-contacts {

}

.footer-menu__item {
  margin: 5px 0 5px;
}

.footer-menu__link {
  color: #c2c2c2;
  font-size: 0.85rem;
  display: inline-block;
}

.footer-menu__list_page-contacts .footer-menu__link {
  /*font-size: 1rem;*/
  color: #424242;
  /*font-weight: 700;*/
}

.footer-menu__list_page-contacts .footer-menu__link:hover {
  color: #0741ad;
}

.footer-menu__link:hover {
  color: #ffffff;
  text-decoration: none;
}

.footer-menu__link_active {
  font-weight: 700;
}

.footer-logo {
  color: #424242;
  margin-bottom: 15px;
}

.footer-logo .logo__name {
  color: #ffffff;
}

.footer-logo:hover .logo__name {
  color: #c2c2c2;
}

.footer-logo .logo__description {
  color: #c2c2c2;
}

.footer-phones {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.footer-phones__icon {
  margin-right: 10px;
  color: #ffffff;
  font-size: 1.5rem;
}

.footer-phones__wrapper {
  display: flex;
  flex-direction: column;
}

.footer-phones__main-phone {
  font-size: 1.25rem;
  font-weight: 700;
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
  margin-bottom: 5px;
}

.footer-phones__main-phone:hover {
  text-decoration: none;
  color: #c2c2c2;
}

.footer-phones__second-phone {
  display: inline-block;
  vertical-align: middle;
  color: #c2c2c2;
}

.footer-phones__second-phone:hover {
  text-decoration: none;
  color: #ffffff;
}

.footer-btn-callback {
  margin-bottom: 15px;
}

.footer-btn-callback__icon {
  margin-right: 3px;
}

.footer-email {
  color: #c2c2c2;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.footer-email:hover {
  color: #ffffff;
  text-decoration: none;
}

.footer-email__icon {
  margin-right: 5px;
}

.footer-email__link {
  color: #ffffff;
  font-size: 0.85rem;
  font-weight: 700;
  transition: all .25s ease-in-out;
}

.footer-email:hover .footer-email__link {
  color: #c2c2c2;
}

.social-media {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-media__item {
  margin-right: 15px;
}

.social-media__item:last-of-type {
  margin-right: 0;
}

.social-media__link {
  width: 40px;
  height: 40px;
  font-size: 1.125rem;
  border-radius: 3px;
  border: 1px solid #c2c2c2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c2c2c2;
  background-color: transparent;
}

.social-media__link:hover {
  text-decoration: none;
  color: #ffffff;
}

.social-media .social-media__telegram:hover {
  border: 1px solid #0088cc;
  background-color: #0088cc;
}

.social-media .social-media__vk:hover {
  border: 1px solid #45668e;
  background-color: #45668e;
}

.social-media .social-media__whatsapp:hover {
  border: 1px solid #25d366;
  background-color: #25d366;
}

.main-footer__copyright {
  padding: 10px 0;
  background-color: #333333;
  color: #c2c2c2;
  font-size: 0.85rem;
  letter-spacing: 0.05em;
}

.main-footer__copyright-link {
  color: #ffffff;
  margin-left: 15px;
}

.main-footer__copyright-link:hover {
  color: #c2c2c2;
  text-decoration: none;
}

.page-item.active .page-link {
  background-color: #0652DD;
  border-color: #0652DD;
}

.page-link {
  color: #0652DD;
}

.share-block {
  padding: 30px;
  background: #f8f8f8 url("img/main-logo-section.svg") 50% 50%;
  background-size: 40%;
  border: 1px solid #ececec;
  text-align: center;
  max-width: 750px;
  margin: 50px auto 0;
  border-radius: 3px;
}

.share-block__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #424242;
  letter-spacing: 0.05em;
  margin-bottom: 5px;
}

.share-block__description {
  font-size: 0.85rem;
  color: #6f6f6f;
  letter-spacing: 0.05em;
  margin-bottom: 15px;
}

.share-block__widget {
  margin-bottom: 30px;
}

.share-block__btn {

}

.share-block__btn-icon {
  margin-right: 3px;
}

.adaptive-video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.adaptive-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
}

.card {
  border-radius: 3px;
  border: 1px solid #ececec;
  position: relative;
  overflow: hidden;
}

.card img {
  width: 100%;
}

.custom-ul-list, .iblock-preview-text ul, .page-articles-detail .sp-lists ul, .page-news-detail .sp-lists ul {
  list-style: none;
  margin: 0 0 30px 0;
  padding: 0;
}

.custom-ul-list li, .iblock-preview-text li, .page-articles-detail .sp-lists li, .page-news-detail .sp-lists li {
  margin-bottom: 1rem;
}

.custom-ul-list li::before, .iblock-preview-text ul li::before, .page-articles-detail .sp-lists ul li::before, .page-news-detail .sp-lists ul li::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\f068";
  margin-right: 1rem;
}

.navbar-toggler {
  padding: 0;
  font-size: 1rem;
  border: none;
  border-radius: 0;
  display: flex;
  align-items: center;
}

.navbar-toggler__icon {
  font-size: 1.5rem;
  color: #0652DD;
  width: 24px;
}

.navbar-toggler__text {
  font-size: 0.85rem;
  margin-right: 5px;
}

.main-section {
  background-color: #ffffff;
  padding: 80px 0;
}

.main-section:nth-of-type(even) {
  background: #f8f8f8 url("img/main-logo-section.svg") 50% 0%;
}

.main-section__title {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  color: #424242;
  letter-spacing: 0.025em;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 40px;
}

.main-section__subtitle {
  text-align: center;
  font-size: 0.85rem;
  color: #6f6f6f;
  max-width: 450px;
  margin: -30px auto 40px;
  letter-spacing: 0.05em;
}

.main-section__text-link-wrapper {
  text-align: center;
  font-size: 0.85rem;
  margin-top: -30px;
  margin-bottom: 40px;
}

.halls-list-map {
  width: 100%;
  height: 600px;
}

.yandex-map {

}

.yandex-map__header {
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  color: #555555;
}

.yandex-map__img-link {
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: 1px solid #ececec;
  margin-bottom: 10px;
  border-radius: 3px;
  width: 213px;
  height: 1209x;
}

.yandex-map__img {
  transition: transform .25s ease-in-out;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.yandex-map__img-link:hover .yandex-map__img {
  transform: scale(1.0125);
}

.yandex-map__link {
  font-size: 1rem;
  color: #424242;
  font-weight: 700;
  margin-bottom: 5px;
  display: inline-block;
  vertical-align: middle;
}

.yandex-map__set-open {
  font-size: 0.75rem;
  color: #6f6f6f;
  font-weight: 400;
}

.yandex-map__content {
  padding: 10px;
  padding-top: 0;
  color: #555555;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.4;
}

.yandex-map__address {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.yandex-map__address-icon {
  color: #cdcdcd;
  margin-right: 7px;
}

.yandex-map__address-text {
  font-size: 0.85rem;
}

.yandex-map__phones {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.yandex-map__phone-item {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.yandex-map__phone-item:last-of-type {
  margin-right: 0;
}

.yandex-map__phone-item::after {
  content: ",";
}

.yandex-map__phone-item:last-of-type::after {
  content: "";
}

.yandex-map__phone-icon {
  margin-right: 7px;
  color: #cdcdcd;
}

.yandex-map__phone-link {
  color: #424242;
  font-weight: 700;
}

.yandex-map__phone-description {
  font-size: 0.85rem;
  color: #6f6f6f;
  margin-left: 7px;
}

.yandex-map__btn {
  margin-top: 10px;
}

.btn-close {
  position: absolute;
  font-size: 1.5rem;
  color: #424242;
  width: 50px;
  height: 50px;
  top: 0;
  right: 0;
  background: transparent;
  padding: 0;
  transition: all .25s ease-in-out;
}

.btn-close_light {
  color: #ffffff;
}

.btn-close_light:hover {
  color: #ffffff;
}

.float-block {
  position: relative;
  max-width: 400px;
  display: block;
  border: 1px solid #ececec;
  border-radius: 3px;
  overflow: hidden;
}

.float-block_left {
  float: left;
  margin: 0 30px 30px 0;
}

.float-block_right {
  float: right;
  margin: 0 0 30px 30px;
}

.float-block img {
  width: 100%;
}

.float-block__figcaption {
  padding: 15px;
  border-top: 1px solid #ececec;
  background-color: #ffffff;
}

.kinds-of-sports {
  display: flex;
  flex-wrap: wrap;
}

.kinds-of-sports__item {
  width: 50%;
  position: relative;
  color: #ffffff;
  overflow: hidden;
}

.kinds-of-sports__img {
  transition: all .25s ease-in-out;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.kinds-of-sports__item:hover .kinds-of-sports__img {
  transform: scale(1.0125);
}

.kinds-of-sports__wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 30px;
  background-color: rgba(37, 41, 51, 0.8);
  transition: all .25s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.kinds-of-sports__item:hover .kinds-of-sports__wrapper {
  background-color: rgba(37, 41, 51, 0.9);
}

.kinds-of-sports__item_blue-bg .kinds-of-sports__wrapper {
  background-color: rgba(0, 54, 158, .80);
}

.kinds-of-sports__item_blue-bg:hover .kinds-of-sports__wrapper {
  background-color: rgba(0, 54, 158, .90);
}

.kinds-of-sports__item_red-bg .kinds-of-sports__wrapper {
  background-color: rgba(204, 61, 49, .80);
}

.kinds-of-sports__item_red-bg:hover .kinds-of-sports__wrapper {
  background-color: rgba(204, 61, 49, .90);
}

.kinds-of-sports__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 1.75rem;
  display: block;
}

.kinds-of-sports__link {
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;
}

.kinds-of-sports__link:hover {
  color: #ffffff;
  opacity: 0.9;
}

.kinds-of-sports__features {
  margin: 0;
  margin-bottom: 30px;
  list-style: none;
  padding: 0;
}

.feature__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: center;
}

.feature__icon {
  font-size: 1.5rem;
  margin-right: 10px;
  width: 35px;
  text-align: center;
  flex-shrink: 0;
}

.iblock-preview-text {
  margin-bottom: 50px;
}

.features-section {
  padding: 80px 0;
  background: #f8f8f8 url("img/features/features-section-bg.jpg") 50% 50% no-repeat;
  background-size: cover;
}

.features-section__title {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  color: #424242;
  letter-spacing: 0.025em;
  line-height: 1.2;
  max-width: 600px;
  margin: 0 auto 40px auto;
}

.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.features-list__item {
  max-width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  padding: 30px;
  border-top: 3px solid #0652DD;
  border-radius: 3px;
  text-align: center;
  margin: 0 15px 30px 15px;
}

.features-list__item-text {

}

.features-list__item-img {
  margin-bottom: 30px;
  height: 100px;
  width: auto;
}

.page-contacts {

}

.contacts-block {
  margin-bottom: 30px;
}

.contacts-block__title {
  text-transform: uppercase;
  font-size: 1.125rem;
  color: #424242;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin-bottom: 15px;
  display: inline-block;
}

.contacts-block__requisites {

}

.contacts-block__requisites .sp-properties {
  width: 100%;
  color: #424242;
  vertical-align: top;
  font-size: 0.85rem;
}

.contacts-block__requisites .sp-properties_title {
  font-weight: 700;
  padding: 5px;
  border: 1px solid #ececec;
}

.contacts-block__requisites .sp-properties_text {
  padding: 5px;
  border: 1px solid #ececec;
}

.contacts-block .footer-phones__icon {
  color: #cdcdcd;
}

.contacts-block .footer-phones__main-phone {
  color: #424242;
}

.contacts-block .footer-phones__main-phone:hover {
  color: #0741ad;
}

.contacts-block .footer-phones__second-phone {
  color: #6f6f6f;
}

.contacts-block .footer-phones__second-phone:hover {
  color: #0741ad;
}

.contacts-block .footer-email {
  color: #cdcdcd;
}

.contacts-block .footer-email__link {
  color: #424242;
}

.contacts-block .footer-email__link:hover {
  color: #0741ad;
}

.contacts-block .social-media__link {
  color: #ffffff;
}

.contacts-block .social-media__telegram {
  border: 1px solid #0088cc;
  background-color: #0088cc;
}

.contacts-block .social-media__whatsapp {
  border: 1px solid #25d366;
  background-color: #25d366;
}

.contacts-block .social-media__vk {
  border: 1px solid #45668e;
  background-color: #45668e;
}

.contacts-block .social-media__link:hover {
  opacity: 0.85;
}

.main-form-section {
  background: #f8f8f8 url("img/main-logo-section.svg") 0 25%;
  background-size: 35%;
  padding: 80px 0;
  position: relative;
  overflow: hidden;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}

.main-form-section::before {
  position: absolute;
  z-index: 1;
  top: -30%;
  right: 0;
  width: 48%;
  height: 200%;
  content: '';
  border-top-left-radius: 350px;
  background-color: #0652DD;
}

.main-form-section__row {
  align-items: center;
}

.main-form-section__content, .main-form-section__form {
  position: relative;
  z-index: 2;
}

.main-form-section__content {
  display: flex;
  align-items: center;
}

.main-form-section__content::after {
  width: 165px;
  height: 242px;
  background: url('img/main-form-section-img.png') no-repeat;
  content: '';
  background-size: cover;
  display: block;
  flex-shrink: 0;
}

.main-form-section__text {
  font-size: 1.15rem;
  letter-spacing: 0.05em;
  max-width: 500px;
  padding-right: 30px;
}

.main-form-section__selected-text, .main-form-section__selected-link {
  background-color: #0652DD;
  color: #ffffff;
  padding: 0 5px;
  margin-top: 1px;
}

.main-form-section__selected-link {
  display: inline-block;
  vertical-align: baseline;
}

.main-form-section__selected-link:hover {
  color: #e8e8e8;
}

.main-form-section__form {
  color: #ffffff;
}

.main-form-section__form-wrapper {
  padding-left: 150px;
}

.bx-core-window .trumbowyg-editor.trumbowyg-reset-css p {
  margin-bottom: 7px !important;
}

.first-screen {
  background-color: #171717;
  background: linear-gradient(90deg, #00369E 0%, rgba(6, 82, 221, 0) 85%),
  url(img/first-screen-bg.webp) 50% 50%;
  background-size: cover;
  color: #ffffff;
  position: relative;
}

.first-screen__header {
  margin-bottom: 30px;
}

.first-screen__container {

}

.first-screen__title {
  margin: 0;
  font-weight: 800;
  letter-spacing: 0.05em;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #ffffff;
}

.first-screen__header .first-screen__title {
  margin: 0;
}

.first-screen__subtitle {
  font-size: 1.15rem;
  letter-spacing: 0.05em;
  margin-top: 10px;
}

.first-screen__open-text {
  margin-top: 5px;
  font-size: 0.85rem;
  color: rgba(255, 255, 255, 0.55);
}

.first-screen__container {
  height: 100%;
}

.first-screen__wrapper {
  min-height: 700px;
  max-width: 550px;
  padding: 80px 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.screen-features {
  margin: 0;
  padding: 0;
  list-style: none;
}

.screen-features__item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.screen-features__icon {
  font-size: 1.5rem;
  margin-right: 10px;
  width: 35px;
  text-align: center;
  flex-shrink: 0;
}

.first-screen__footer {
  margin-top: 30px;
}

.screen-address {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.screen-address__icon {
  color: rgba(255, 255, 255, 0.55);
  margin-right: 7px;
}

.screen-address__text {
  font-size: 0.85rem;
}

.screen-phones {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.screen-phones__item {
  display: flex;
  align-items: center;
  margin-right: 30px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.screen-phones__item::after {
  content: ",";
}

.screen-phones__item:last-of-type::after {
  content: "";
}

.screen-phones__icon {
  color: rgba(255, 255, 255, 0.55);
  margin-right: 7px;
}

.screen-phones__link {
  color: #ffffff;
  font-weight: 700;
}

.screen-phones__link:hover {
  color: rgba(255, 255, 255, 0.85);
}

.screen-phones__description {
  font-size: 0.85rem;
  color: rgba(255, 255, 255, 0.55);
  margin-left: 7px;
}

.table {
  color: #424242;
  border-color: #ececec;
}

.table th {
  letter-spacing: 0.05em;
}

.table>:not(:first-child) {
  border-top: 1px solid #ececec;
}

.table>:not(caption)>*>* {
  padding: 15px 25px;
  background-color: #ffffff;
  border-bottom-width: 1px;
  box-shadow: none;
  color: #424242;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
  background-color: #f8f8f8;
  color: #424242;
}

.whatsapp-btn {
  position: fixed;
  z-index: 100;
  right: 40px;
  bottom: 40px;
  /*bottom: 160px;*/
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #25d366;
  color: #ffffff;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .25s ease-in-out;
}

.whatsapp-btn:hover {
  color: #ffffff;
  opacity: 0.85;
}

.to-top-btn {
  position: fixed;
  z-index: 100;
  bottom: 50px;
  left: 50px;
  opacity: 0;
  width: 50px;
  height: 50px;
  transition: all .25s;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 6px 10px rgba(177, 189, 202, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.blur-up {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: all .25s ease-in-out;
}

.blur-up.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0);
}

.page-thanks .footer-btn-callback {
  display: none;
}

.views-counter {
  margin-top: 10px;
}

.views-counter__icon {
  margin-right: 5px;
  color: #cdcdcd;
}

.views-counter__text {
  font-size: 0.85rem;
  color: #6f6f6f;
}

.nav-pills {
  margin-bottom: 40px;
}

.nav-pills .nav-item {
  margin-right: 10px;
  margin-bottom: 10px;
}

.nav-pills .nav-link {
  background: #f8f8f8;
  color: #424242;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 0.85rem;
}

.nav-pills .nav-link:hover {
  background: #e7e7e7;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #0652DD;
}

.inner-form-section {
  padding: 50px 30px;
  background: #f8f8f8 url("img/main-logo-section.svg") 50% 50%;
  background-size: 40%;
  border: 1px solid #ececec;
  margin-bottom: 30px;
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.inner-form-section::after {
  width: 165px;
  height: 242px;
  background: url('/local/templates/sambo_2022/img/main-form-section-img.png') no-repeat;
  content: '';
  background-size: cover;
  display: block;
  flex-shrink: 0;
}

.inner-form-section__content {

}

.inner-form-section__text {
  font-size: 1.15rem;
  letter-spacing: 0.05em;
  max-width: 650px;
  margin: 0 auto 30px auto;
}

.inner-form-section__selected-text, .inner-form-section__selected-link {
  background-color: #0652DD;
  color: #ffffff;
  padding: 0 5px;
  margin-top: 1px;
}

.inner-form-section__selected-link {
  display: inline-block;
  vertical-align: baseline;
}

.inner-form-section__selected-link:hover {
  color: #e8e8e8;
}

.inner-form-section__btn-callback-icon {
  margin-right: 3px;
}

.cta-tournament-section {
  padding: 10px;
  background: #f8f8f8;
  border: 1px solid #ececec;
  margin-bottom: 1rem;
}

.cta-tournament-section p:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 1399.98px) {
  .footer-menu__list_columns-two {
    column-gap: 30px;
  }
  .footer-menu-halls {
    margin-right: 50px;
  }
}

@media (max-width: 1199.98px) {
  .footer-menu__list_columns-two {
    columns: 1;
  }
  .footer-menu-halls {
    margin-right: 100px;
  }
  .navbar-collapse {
    padding-top: 20px;
  }
  .header-contacts {
    padding: 30px 0;
  }
  .header-contacts__phones-wrapper {
    padding: 0;
  }
  .header-contacts__phones {
    padding-right: 30px;
    border-right: 1px solid #cdcdcd;
  }
  .header-contacts__communication-wrapper {
    display: block;
    padding-left: 30px;
  }
  .header-contacts__main-phone {
    margin-bottom: 10px;
  }
  .header-email {
    margin-bottom: 15px;
    vertical-align: middle;
    color: #424242;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .header-email__link {
    font-weight: 700;
  }
  .header-email__icon {
    color: #cdcdcd;
    margin-right: 7px;
  }
  .header-social-media {

  }

  .header-social-media .social-media__link {
    width: 30px;
    height: 30px;
    font-size: 1rem;
    color: #ffffff;
  }
  .header-social-media .social-media__link.social-media__telegram {
    border: 1px solid #0088cc;
    background-color: #0088cc;
  }
  .header-social-media .social-media__link.social-media__vk {
    border: 1px solid #45668e;
    background-color: #45668e;
  }
  .header-social-media .social-media__link.social-media__telegram:hover,
  .header-social-media .social-media__link.social-media__vk:hover {
    color: #ffffff;
    opacity: 0.85;
  }
  .main-form-section__text {
    padding-right: 0;
  }
  .main-form-section__content::after {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .main-footer__menu-wrapper {
    justify-content: center;
  }
  .main-footer__info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #535353;
  }
  .kinds-of-sports__item {
    width: 100%;
    min-height: 350px;
  }
  .main-form-section::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-left-radius: 0;
  }
  .main-form-section__content {
    margin-bottom: 30px;
  }
  .main-form-section__form-wrapper {
    padding: 0;
  }
  .main-form-section__text {
    color: #ffffff;
  }
  .main-form-section__selected-text, .main-form-section__selected-link {
    background-color: #ffffff;
    color: #0652DD;
  }
  .first-screen__title {
    font-size: 1.5rem;
  }
  .inner-form-section::after {
    display: none;
  }
  .inner-form-section__text {
    text-align: center;
  }
}

@media (max-width: 767.98px) {
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 30px;
    margin-bottom: 45px;
  }
  h1, .h1 {
    font-size: 1.75rem;
  }
  h2, .h2 {
    font-size: 1.75rem;
  }
  .main-footer__copyright {
    text-align: center;
  }
  .main-footer__copyright-link {
    display: inline-block;
    margin-left: 0;
    margin-top: 10px;
  }
  .page-header {
    padding: 20px 0;
  }
  .share-block {
    padding: 20px;
  }
  .share-block__title {
    font-size: 1.25rem;
  }
  .yandex-map__header,
  .yandex-map__content {
    max-width: 300px;
  }
  .yandex-map__link {
    width: 142px;
    height: 80px;
  }
  .float-block {
    float: none;
    width: 100%;
    max-width: auto;
    height: auto;
    margin: 0 0 30px 0
  }
  .main-section__title {
    font-size: 1.5rem;
  }
  .features-section__title {
    font-size: 1.5rem;
  }
  .whatsapp-btn {
    width: 60px;
    height: 60px;
    right: 15px;
    bottom: 15px;
    /*bottom: 80px;*/
    font-size: 2rem;
  }
  .to-top-btn {
    bottom: 15px;
    left: 15px;
    width: 35px;
    height: 35px;
    font-size: 1rem;
  }
  .first-screen__wrapper {
    min-height: 500px;
  }
}

@media (max-width: 575.98px) {
  .main-footer__menu-wrapper {
    flex-wrap: initial;
  }
  .footer-menu-halls {
    margin-right: 0px;
    padding-right: 15px;
  }
  .footer-menu-info {
    padding-left: 15px;
  }
  .navbar {
    padding: 5px 0;
  }
  .header-logo .logo__img {
    width: 55px;
    height: 55px;
  }
  .header-logo .logo__wrapper {
    margin-left: 5px;
  }
  .header-logo .logo__name {
    font-size: 1.25rem;
  }
  .header-logo .logo__description {
    font-size: 0.65rem;
  }
  .header-contacts {
    flex-direction: column;
    border-top: 1px solid #cdcdcd;
    margin-top: 20px;
  }
  .header-contacts__phones {
    padding: 0;
    border: none;
    margin-bottom: 20px;
  }
  .header-contacts__communication-wrapper {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 399.98px) {
  .logo__img {
    width: 55px;
    height: 55px;
  }
  .logo__wrapper {
    margin-left: 5px;
  }
  .logo__name {
    font-size: 1.25rem;
  }
  .logo__description {
    font-size: 0.65rem;
  }
}

@media (max-width: 321px) {
  .navbar-toggler__text {
    display: none;
  }
}