.first-screen__nav {
    margin-bottom: 20px;
}

.first-screen__ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.first-screen__li {
    margin-right: 15px;
}

.first-screen__li:last-of-type {
    margin-right: 0;
}

.first-screen__link {
    color: #ffffff;
    font-size: 0.85rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
}

.first-screen__link:hover {
    color: rgba(255,255,255,.85);
}

.photos-list {

}

.photos-list_contacts {
    display: flex;
    flex-direction: column-reverse;
}

.photos-list__row {

}

.photos-list__col {
    display: flex;
}

.photos-list__item {
    margin-bottom: 30px;
    border: 1px solid #ececec;
    background-color: #ffffff;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    flex: 1;
    transition: all .25s ease-in-out;
}

.photos-list__item:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.1);
    transform: translateY(-1px);
}

.photos-list__link {
    position: relative;
    display: block;
    overflow: hidden;
}

.photos-list__img {
    transition: transform 0.25s ease-in-out;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.photos-list__link:hover .photos-list__img {
    transform: scale(1.0125);
}

.photos-list__item-figcaption {
    padding: 15px;
    border-top: 1px solid #ececec;
}

.photos-list__main-figcaption {
    font-size: 0.85rem;
    color: #6f6f6f;
    text-align: center;
}

.videos-detail {

}

.videos-detail__text {
    margin-bottom: 50px;
}

.videos-list {

}

.videos-list__row {

}

.videos-list__col {
    display: flex;
}

.contacts-video {
    display: flex;
    flex-direction: column-reverse;
}

.videos-list__item,
.contacts-video__iframe {
    margin-bottom: 30px;
    border: 1px solid #ececec;
    background-color: #ffffff;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    flex: 1;
    transition: all .25s ease-in-out;
}

.videos-list__item:hover,
.contacts-video__iframe:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.1);
    transform: translateY(-1px);
}

.videos-list__item-figcaption {
    padding: 15px;
    border-top: 1px solid #ececec;
}

.videos-list__main-figcaption,
.contacts-video__figcaption,
.photos-list_contacts .photos-list__main-figcaption {
    font-size: 0.85rem;
    color: #6f6f6f;
    text-align: center;
    margin: 0;
}

.contacts-video__figcaption,
.photos-list_contacts .photos-list__main-figcaption {
    margin-bottom: 15px;
    font-size: 1rem;
}

.map-section iframe {
    height: 500px;
    width: 100%;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    border: 1px solid #ececec;
}

.halls-detail-map {
    height: 500px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    border: 1px solid #ececec;
}

.yandex-map__btn .fa-pencil {
    margin-right: 5px;
}

.section-contacts {
    padding-top: 50px;
}

.section-contacts__title {
    text-align: center;
    font-weight: 700;
    font-size: 1.65rem;
    color: #424242;
    letter-spacing: 0.025em;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 40px;
}