.halls-list__col {
	display: flex;
}

.hall {
	border: 1px solid #ececec;
	margin-bottom: 30px;
	border-radius: 3px;
	position: relative;
	overflow: hidden;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	transition: all .25s ease-in-out;
	width: 100%;
}

.hall:hover {
	box-shadow: 0 10px 20px 0 rgba(0,0,0,.1);
	transform: translateY(-1px);
}

.set-open {
	display: flex;
	align-items: center;
}

.set-open__text {
	font-size: 0.85rem;
	color: #6f6f6f;
}

.set-open__icons {
	width: 65px;
	flex-shrink: 0;
}

.set-open__icon {
	margin-right: 3px;
}

.set-open__icon:last-of-type {
	margin-right: 0;
}

.set-open__icons_open {
	color: #2ecc71;
}

.set-open__icons_closed {
	color: #e74c3c;
}

.hall__img-link {
	position: relative;
	overflow: hidden;
	z-index: 1;
	border-bottom: 1px solid #ececec;
	display: block;
}

.hall__img {
	transition: transform .25s ease-in-out;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.hall__img-link:hover .hall__img {
	transform: scale(1.0125);
}

.hall__wrapper {
	padding: 30px;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.hall__header {
	margin-bottom: 30px;
}

.hall__title {
	font-size: 1.25rem;
	margin: 0;
	margin-bottom: 5px;
}

.hall__link {
	color: #424242;
}

.hall__link:hover {
	color: #0652DD;
}

.hall__btn {
	margin-top: auto;
}

.hall__btn-icon {
	margin-left: 3px;
}

.hall__footer {
	margin-bottom: 20px;
}

.hall__address {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.hall__address-icon {
	color: #cdcdcd;
	margin-right: 7px;
}

.hall__address-text {
	font-size: 0.85rem;
}

.hall__phones {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.hall__phone-item {
	display: flex;
	align-items: center;
	margin-right: 30px;
	margin-bottom: 10px;
	flex-wrap: wrap;
}

.hall__phone-item::after {
	content: ",";
}

.hall__phone-item:last-of-type {
	margin-right: 0;
}

.hall__phone-item:last-of-type::after {
	content: "";
}

.hall__phone-icon {
	margin-right: 7px;
	color: #cdcdcd;
}

.hall__phone-link {
	/*font-size: 0.85rem;*/
	color: #424242;
	font-weight: 700;
}

.hall__phone-description {
	font-size: 0.85rem;
	color: #6f6f6f;
	margin-left: 7px;
}

.hall__features {
	margin-bottom: 30px;
}

.hall__feature-item {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}

.hall__feature-item:last-of-type {
	margin-bottom: 0;
}

.hall__feature-icon {
	font-size: 1.5rem;
	color: #0652DD;
	margin-right: 10px;
	width: 35px;
	text-align: center;
	flex-shrink: 0;
}

.hall__feature-description {

}

@media (max-width: 767.98px) {
	.hall__wrapper {
		padding: 20px;
	}
	.hall__header {
		margin-bottom: 20px;
	}
	.hall__features {
		margin-top: 10px;
	}
	.hall__feature-icon {
		font-size: 1.25rem;
		width: 25px;
	}
	.hall__feature-description {
		font-size: 0.85rem;
	}
}